<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">{{fullName}} Portfolio Details</h5>
    <!-- <a type="button" (click)="modal.dismiss('Cross click')"  (click)="portfolioDetails(doc_uid)" ngbTooltip="Portfolio" class="btn btn-relief-info">portfolio Details</a> -->
    <button type="button" class="close" #viewInvestor (click)="close()"aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">Portfolio List</h4></div>
              <section id="ngx-datatable-kitchen-sink">
                  <div class="row">
                  </div>
                  <div class="row" id="table-striped">
                    <div class="col-12">
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Amount</th>
                                <th>Locking</th>
                                <th>Profit</th>
                                <th>Rate</th>
                                <th>Date</th>
                                <th>Time</th>
                                <!-- <th>Actions</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let portfolio of portfolios | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count } let i=index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{portfolio.amount}}</td>
                                <td>{{portfolio.locking}}</td>
                                <td>{{portfolio.profit}}</td>
                                <td>{{portfolio.rate}}</td>
                                <td>{{portfolio.timestamp.toDate() | date:'dd/mm/yy'}}</td>
                                <td>{{portfolio.timestamp.toDate() | date:'h:mm:ss'}}</td>
                                <!-- <td class="overflow-hidden"> -->
                                  <!-- <button class="btn more-link add-store-btn ml-24px" (click)="viewopen(view, portfolio.uid)"><i class="fi-rr-plus mr-12px lh-0"></i>view</button> -->
                                 <!-- <a (click)="addBook(investor.uid)"><i data-feather="trash" class="mr-50"></i><span>Delete</span></a> -->
                                <!-- </td> -->
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
              </section>
            </div>
          </div>
        </div>
    </div>
  </div>
  