
<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">{{fullName}} Transactions Details</h5>
    <span class="csv-button">
      <angular2csv [data]="transactions" class="csv" filename="investorstransaction.csv" [options]="options"></angular2csv>
    </span>
    <!-- <a type="button" (click)="modal.dismiss('Cross click')"  (click)="portfolioDetails(doc_uid)" ngbTooltip="Portfolio" class="btn btn-relief-info">portfolio Details</a> -->
    <button type="button" class="close" #viewInvestor (click)="close()"aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">Transaction List</h4></div>
              <section id="ngx-datatable-kitchen-sink">
                  <div class="row">
                    
                    <!-- <div class="search">
                      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                        <label class="d-flex align-items-center"
                          >Search<input
                            type="search"
                            [(ngModel)]="fullName"
                            placeholder="Search"
                            class="form-control ml-25"
                            (keyup)="filterUpdate($event)"
                        /></label>
                      </div>
                    </div> -->
                  </div>
                  <div class="row" id="table-striped">
                    <div class="col-12">
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Amount</th>
                                <th>Reason</th>
                                <th>Date / Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let transaction of transactions| paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count } let i=index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{transaction.amount}}</td>
                                <td>{{transaction.reason}}</td>
                                <td>{{transaction.timestamp}}</td>
                              
                               
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
              </section>
            </div>
          </div>
        </div>
    </div>
  </div>
  