<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">Support List</h4></div>
              <section id="ngx-datatable-kitchen-sink">
                  <div class="row">
                   
                  </div>
                  <div class="row" id="table-striped">
                    <div class="col-12">
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let support of supports| paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count } let i=index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{support.email}}</td>
                                <td>{{support.phone}}</td>
                                <td>{{support.address}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
              </section>
            </div>
          </div>
        </div>
    </div>
  </div>
  