<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">Active Investor List</h4>
              <span>
                <angular2csv [data]="investors" class="csv" filename="investors.csv" [options]="options"></angular2csv>
              </span>
            </div>
              <section id="ngx-datatable-kitchen-sink">
                  <div class="row">
                  </div>
                  <div class="row" id="table-striped">
                    <div class="col-12">
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>City</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let investor of investors | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count } let i=index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{investor.fullName}}</td>
                                <td>{{investor.email}}</td>
                                <td>{{investor.phone}}</td>
                                <td>{{investor.city}}</td>
                                <!-- <td><span class="badge badge-pill badge-light-warning mr-1">Pending</span></td> -->
                                <td class="overflow-hidden">
                                  <span class="delete-button" >
                                    <button (click)="Delete(investor.uid)" class="btn btn-icon btn-danger waves-effect waves-float waves-light"><i data-feather="trash" class="mr-50"></i></button>
                                </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
              </section>
            </div>
          </div>
        </div>
    </div>
  </div>
 
  