<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">All Payouts List</h4>
              <span class="search-table">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
              </span>
              <span class="csv-button">
                <angular2csv [data]="offers" class="csv" filename="portfolio.csv" [options]="options"></angular2csv>
              </span>
            
            </div>
              <section id="ngx-datatable-kitchen-sink">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#7367f0" type="line-scale-party" >
                  <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
                  <div class="row">
                  </div>
                  <div class="row" id="table-striped">
                    <div class="col-12">
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Full Name</th>
                                <th>Phone</th>
                                <th>Amount</th>
                                <th>Reason</th>
                                <th>Payout Request Type</th>
                                <th>Date / Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let offer of offers | filter:searchText  | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count } let i=index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{offer.fullName}}</td>
                                <td>{{offer.phone}}</td>
                                <td>{{offer.amount}}</td>
                                <td>{{offer.reason}}</td>
                                <td>
                                    <p *ngIf="offer.type === 1">
                                        Regular Request
                                    </p>
                                    <p *ngIf="offer.type === 3">
                                        Capital Request
                                    </p>
                                </td>

                                <td>{{offer.timestamp}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
              </section>
            </div>
          </div>
        </div>
    </div>
  </div>
  