<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="table-striped">
      <div class="col-12">
        <div class="card">
         
          <div class="card-header"><h4 class="card-title">All Investor List</h4>
            <span class="search-table">
              <input class="form-control" type="text" name="search"  (keyup)="search()" [(ngModel)]="searchValue" autocomplete="off" placeholder="Search">
            </span>
            <span>
              <angular2csv [data]="investors" class="csv" filename="investors.csv" [options]="options"></angular2csv>
            </span>
          </div>
<!-- 
          <ais-instantsearch [config]="config">
            <ais-search-box></ais-search-box>
            <ais-hits>
              <ng-template let-hits="hits">
                <ol class="ais-Hits-list">
                  <li *ngFor="let hit of hits" class="ais-Hits-item">
                   {{hit.name}}
                  </li>
                </ol>
              </ng-template>
            </ais-hits>
          </ais-instantsearch> -->
            <section id="ngx-datatable-kitchen-sink">
              <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#7367f0" type="line-scale-party" >
                <p style="font-size: 20px; color: white">Loading...</p>
              </ngx-spinner>
                <div class="row">
                </div>
                <div class="row" id="table-striped">
                  <div class="col-12">
                    <div class="card">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Sr.No.</th>
                              <th>Full Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>City</th>
                              <th>Date/Time</th>
                              <th>Current Investment Balance</th>
                              <th>Wallet Balance</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let investor of investors | filter:searchText  | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count }   let i=index;">
                              <th scope="row">{{i + 1}}</th>
                              <td>{{investor?.fullName}}</td>
                              <td>{{investor?.email}}</td>
                              <td>{{investor?.phone}}</td>
                              <td>{{investor?.city}}</td>
                            <td>{{investor?.timestamp}}</td> 
                             <td>{{investor?.investment}}</td>
                              <td>{{investor?.profit | number : '1.2-2'}}</td>
                              <!-- <td><span class="badge badge-pill badge-light-warning mr-1">Pending</span></td> -->
                              <td class="overflow-hidden">
                                <button class="btn btn-relief-info"  (click)="viewopen(view, investor.uid)"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg></button>
                                <span class="delete-button" *ngIf="investor.type === 0" >
                                  <button (click)="Delete(investor.uid)" class="btn btn-icon btn-danger waves-effect waves-float waves-light"><i data-feather="trash" class="mr-50"></i></button>
                              </span>
                                <span  class="delete-button" *ngIf="investor.type === 1">
                                  <button  disabled  class="btn btn-icon btn-danger waves-effect waves-float waves-light"><i data-feather="trash" class="mr-50"></i></button>
                              </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <pagination-controls previousLabel="Prev"   nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
            </section>
          </div>
        </div>
      </div>
  </div>
</div>
<ng-template #view let-modal>
  <div class="modal-header">
  <h4 class="modal-title" id="myModalLabel160"><b>{{investorsDetails?.fullName}}</b></h4>
     <!--  <a type="button" (click)="modal.dismiss('Cross click')" (click)="portfolioDetails(doc_uid)" class="btn btn-relief-info portfolio">Portfolio Details</a>
    <a type="button" (click)="modal.dismiss('Cross click')" (click)="transactionDetails(doc_uid)" class="btn btn-relief-info portfolio">Transaction Details</a>
    <a type="button" href="/offer/createoffer/{{doc_uid}}" class="btn btn-relief-info portfolio">Investor Offer</a>
    <a type="button" href="/offer/offerlist/{{doc_uid}}" class="btn btn-relief-info portfolio">Offer List</a> -->

   
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    
      <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="details" checked>
        <label for="tab1">Investor Deatils</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="kyc">
        <label for="tab2" (click)="portfoliotab()">Portfolio Details</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="balance">
        <label for="tab3" (click)="transcationtab()">Transaction Details</label>
        <!-- Tab 4 -->
        <input type="radio" name="tabset" id="tab4" aria-controls="bank">
        <label for="tab4">Investor Offer</label>  
         <!-- Tab 5 -->
         <input type="radio" name="tabset" id="tab5" aria-controls="bank1">
         <label for="tab5">Offer List</label>  

        <div class="tab-panels">

          <section id="details" class="tab-panel">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <div class="card card-employee-task">
                  <div class="card-header">
                    <h4 class="card-title">Basic Details</h4>
                   </div>
                   <div *ngIf="investorsDetails==undefined">
                    <p>No Basic Details Found</p>
                  </div>
                  <div class="card-body" *ngIf="investorsDetails">
                    <div class="left-sec-employee">
                      <ul>
                        <li>Name</li>
                        <li>Email</li>
                        <li>Phone</li>
                        <li>City</li>
                      </ul>
                    </div>
                    <div class="right-sec-employee">
                      <ul>
                        <li>{{investorsDetails?.fullName}}</li>
                        <li>{{investorsDetails?.email  }}</li>
                        <li>{{investorsDetails?.phone }}</li>
                        <li>{{investorsDetails?.city  }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-12">
                <div class="card card-employee-task">
                  <div class="card-header">
                    <h4 class="card-title">KYC Details</h4>
            
                  </div>
                  <div *ngIf="investorkycDetails==undefined">
                    <p>No KYC Details Found</p>
                  </div>
                  <div class="card-body" *ngIf="investorkycDetails">
                    <div class="left-sec-employee">
                      <ul>
                        <li>Address</li>
                        <li>DOB</li>
                        <li>Gender</li>
                        <li>Work</li>
                        <li>Aadhaar Number</li>
                        <li>Pan Card Number</li> 
                      </ul>
                    </div>
                    <div class="right-sec-employee">
                      <ul>
                        <li>{{investorkycDetails?.address}}</li>
                        <li>{{investorkycDetails?.dob}}</li>
                        <li>{{investorkycDetails?.gender}}</li>
                        <li>{{investorkycDetails?.work}}</li>
                        <li>{{investorkycDetails?.aadhaar}}</li>
                        <li>{{investorkycDetails?.pan}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="card card-employee-task">
                  <div class="card-header">
                    <h4 class="card-title">Balance Details</h4>
               </div>
                  <div *ngIf="balanceDetails==undefined">
                    <p>No Balance Details Found</p>
                  </div>
                  <div class="card-body" *ngIf="balanceDetails">
                    <div class="left-sec-employee">
                      <ul>
                        <li>Investment Amount</li>
                        <li>Profit Balance</li>
                        
                      </ul>
                    </div>
                    <div class="right-sec-employee">
                      <ul >
                        <li>{{balanceDetails.investment}}</li>
                        <li>{{balanceDetails.profit | number : '1.2-2'}}</li>
                       
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-12">
                <div class="card card-employee-task">
                  <div class="card-header">
                    <h4 class="card-title">Bank Details</h4>
                  </div>
                  <div *ngIf="banksLength==0">
                    <p>No Bank Details Found</p>
                  </div>
                  <div class="card-body" *ngIf="banksLength">
                    <div class="left-sec-employee">
                      <ul>
                        <li>Account Number</li>
                        <li>Bank Name</li>
                        <li>ContactID</li>
                        <li>Fund Account ID</li>
                        <li>IFSC Code</li>
                        <li>Name On Account</li>
                        <li>Payment Mode</li>
                      </ul>
                    </div>
                    <div class="right-sec-employee">
                      <ul *ngFor="let banksDetails of banks">
                        <li>{{banksDetails?.account_number}}</li>
                        <li>{{banksDetails?.bank_name}}</li>
                        <li>{{banksDetails?.contact_id}}</li>
                        <li>{{banksDetails?.fund_account_id}}</li>
                        <li>{{banksDetails?.ifsc_code}}</li>
                        <li>{{banksDetails?.name_on_account}}</li>
                        <li>{{banksDetails?.payment_mode}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 col-12">
                <div class="card card-employee-task">
                  <div class="card-header">
                    <h4 class="card-title">Investor KYC Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">
                            Address</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{address}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">DOB</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{dob}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Gender</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{gender}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Work</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{work}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Aadhaar Number</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{aadhaar}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                       
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Pan Card Number</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{pan}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
          
              <!-- <div class="col-lg-6 col-md-6 col-12">
                <div class="card card-employee-task">
                  <div class="card-header">
                    <h4 class="card-title"> Investor Balance Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Investment Amount</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{investment}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Profit Balance</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{profit | number : '1.2-2'}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-lg-6 col-md-6 col-12">
                <div class="card card-employee-task"  *ngFor="let bank of banks">
                  <div class="card-header">
                    <h4 class="card-title">Bank Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0"> Account Number</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.account_number}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Bank Name</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.bank_name}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">ContactID</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.contact_id}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Fund Account ID</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.fund_account_id}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                        <div class="media-body my-auto">
                          <h6 class="mb-0">IFSC Code</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.ifsc_code}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                       
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Name On Account</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.name_on_account}}</h6>
                      </div>
                    </div>
                    <div class="employee-task d-flex justify-content-between align-items-center">
                      <div class="media">
                       
                        <div class="media-body my-auto">
                          <h6 class="mb-0">Payment Mode</h6>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <h6 class="mb-0">{{bank.payment_mode}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
          
            </div>
          </section>

          <section id="kyc" class="tab-panel">
            <div *ngIf="portfolios.length==0">
              <p>No portfolios Details Found</p>
            </div>
              
              <div class="row" id="table-striped" *ngIf="portfolios.length>0">
                <div class="col-12">
                  <div class="card" >
                    <div class="table-responsive">
                      <table class="table table-striped" >
                        <thead>
                          <tr>
                            <th>Sr.No.</th>
                            <th>Amount</th>
                            <th>Locking</th>
                            <th>Profit</th>
                            <th>Rate</th>
                            <th>Date / Time</th>
                           </tr>
                        </thead>
                       <tbody>
                          <tr *ngFor="let portfolio of portfolios let i=index;">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{portfolio?.amount}}</td>
                            <td>{{portfolio?.locking}}</td>
                            <td>{{portfolio?.profit | number : '1.2-2'}}</td>
                            <td>{{portfolio?.rate}}</td>
                            <td>{{portfolio?.timestamp.toDate() | date: 'medium'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </section>
    
          <section id="balance" class="tab-panel">
            <div *ngIf="transactions.length==0">
              <p>No Transaction Details Found</p>
            </div>
              
              <div class="row" id="table-striped" *ngIf="transactions.length>0">
                <div class="col-12">
                  <div class="card" >
                    <div class="table-responsive">
                      <table class="table table-striped" >
                        <thead>
                          <tr>
                            <th>Sr.No.</th>
                            <th>Amount</th>
                            <th>Reason</th>
                            <th>Date / Time</th>
                          </tr>
                        </thead>
                       <tbody>
                          <tr *ngFor="let transaction of transactions let i=index;">
                            <th scope="row">{{i + 1}}</th>
                                <td>{{transaction?.amount | number : '1.2-2'}}</td>
                                <td>{{transaction?.reason}}</td>
                                <td>{{transaction?.timestamp.toDate() | date: 'medium'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </section>

          <section id="bank" class="tab-panel">
            <div>
              <a type="button" href="/offer/createoffer/{{doc_uid}}" class="btn btn-relief-info portfolio">Investor Offer</a>
           </div>
          </section>

          <section id="bank1" class="tab-panel">
            <div>
              <a type="button" href="/offer/offerlist/{{doc_uid}}" class="btn btn-relief-info portfolio">Offer List</a>
            </div>
          </section>

        </div>
    
      </div>
  
   
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
      Accept
    </button> -->
  </div>

 
</ng-template>

