<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">Portfolio List</h4>
              <span class="csv-button">
                <angular2csv [data]="portfoliosData" class="csv" filename="portfolio.csv" [options]="options"></angular2csv>
              </span>
            
            </div>
              <section id="ngx-datatable-kitchen-sink">
                  <div class="row">
                  </div>
                  <div class="row" id="table-striped">
                    <div class="col-12">
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Sr.No.</th>
                                <th>Full Name</th>
                                <th>Phone</th>
                                <th>Amount</th>
                                <th>Locking</th>
                                <th>Profit</th>
                                <th>Rate</th>
                                <th>Date / Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let portfolio of portfoliosData | paginate : { itemsPerPage: pageSize, currentPage: page, totalItems: count } let i=index;">
                                <th scope="row">{{i + 1}}</th>
                                <td>{{portfolio.fullName}}</td>
                                <td>{{portfolio.phone}}</td>
                                <td>{{portfolio.amount}}</td>
                                <td>{{portfolio.locking}}</td>
                                <td>{{portfolio.profit}}</td>
                                <td>{{portfolio.rate}}</td>
                                <td>{{portfolio.timestamp}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)" class="d-flex justify-content-center pagination-section"></pagination-controls>
              </section>
            </div>
          </div>
        </div>
    </div>
  </div>
  