.form-card{
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.form-title{
    margin: 20px;
}
.search-results {
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}